<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esterilización</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='esterilizacion.css') }}">
    <!-- Enlace a Google Fonts para que coincida con el estilo de Home -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
     <!-- Incluir la librería de escaneo de QR -->
     <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <h1>MEDITRACK</h1>
            <div class="user-menu">
                <img src="{{ url_for('static', filename='profile.png') }}" alt="Usuario" class="user-image">
                <div class="dropdown">
                    <span class="user-role">{{ session['role'] }} ▼</span> <!-- Mostrar el usuario que ha iniciado sesión -->
                    <div class="dropdown-content">
                        <span>{{ session['username'] }}</span> <!-- Nombre del usuario -->
                        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <aside class="sidebar">
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('bd_usuarios') }}">BD Usuarios</a></li>
            <li><a href="{{ url_for('inventario') }}">Inventario</a></li>
            <li><a href="{{ url_for('esterilizacion') }}">Esterilización</a></li>
            <li><a href="{{ url_for('busqueda_esterilizacion') }}">Búsqueda</a></li>
        </ul>
    </aside>

    <main class="content">
        <div class="content-container">
            <h2 class="page-title">Registrar Esterilización</h2>
            <form action="{{ url_for('procesar_esterilizacion') }}" method="POST" class="form-esterilizacion">
                <div class="form-row">
                    <div class="form-group">
                        <!-- <label for="identificacion_dm">No. Identificación DM:</label>
                        <input type="text" id="identificacion_dm" name="identificacion_dm" value="{{ identificacion_dm }}" required> -->
                        <label for="identificacion_dm">No. Identificación DM:</label>
                        <div style="display: flex; align-items: center;">
                            <input type="text" id="identificacion_dm" name="identificacion_dm" value="{{ identificacion_dm }}" required>
                            <button type="button" id="scan-qr-btn" style="margin-left: 10px;">Escanear QR</button>
                        </div>
                        <!-- QR Reader Container -->
                        <div id="qr-reader" style="width: 300px; margin-top: 10px; display: none;"></div>     
                    </div>
                    <div class="form-group">
                        <label for="lote">No. Lote:</label>
                        <input type="text" id="lote" name="lote" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="nombre">Nombre del equipo:</label>
                        <input type="text" id="nombre" name="nombre" readonly>
                    </div>
                    <div class="form-group">
                        <label for="persona_esteriliza">Persona que esteriliza:</label>
                        <input type="text" id="persona_esteriliza" name="persona_esteriliza" value="{{ session['username'] }}" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="text" id="fecha" name="fecha" readonly value="{{ fecha_actual }}">
                    </div>
                    <div class="form-group">
                        <label for="hora">Hora:</label>
                        <input type="text" id="hora" name="hora" readonly value="{{ hora_actual }}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="ciclos">Ciclos:</label>
                        <input type="text" id="ciclos" name="ciclos" required>
                    </div>
                    <div class="form-group">
                        <label for="cantidad_piezas">Cantidad de Piezas:</label>
                        <input type="number" id="cantidad_piezas" name="cantidad_piezas" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="esterilizador">Esterilizador:</label>
                        <input type="text" id="esterilizador" name="esterilizador" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
                        <input type="date" id="fecha_vencimiento" name="fecha_vencimiento" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label>Esterilizó:</label>
                        <div class="radio-group">
                            <input type="radio" id="esterilizo_si" name="esterilizo" value="SI" required> <label for="esterilizo_si">SI</label>
                            <input type="radio" id="esterilizo_no" name="esterilizo" value="NO"> <label for="esterilizo_no">NO</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Uso:</label>
                        <div class="radio-group">
                            <input type="radio" id="uso_si" name="uso" value="SI" required> <label for="uso_si">SI</label>
                            <input type="radio" id="uso_no" name="uso" value="NO"> <label for="uso_no">NO</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit-btn" id="submit-btn">Enviar</button>

                <!-- Ventana emergente (modal) -->
                <div id="success-modal" class="modal">
                    <div class="modal-content">
                        <h2>¡Esterilización de equipo guardada con éxito!</h2>
                        <button id="modal-ok-btn" class="submit-btn">OK</button>
                    </div>
                </div>

                <!-- Ventana emergente para advertir de que falta un solo uso -->
                <div id="ultimo-uso-modal" class="modal">
                    <div class="modal-content">
                        <h2>¡Advertencia!</h2>
                        <p>El dispositivo le falta un solo uso permitido.</p>
                        <button id="modal-ultimo-uso-ok-btn" class="submit-btn">OK</button>
                    </div>
                </div>

                <!-- Ventana emergente para el límite de uso alcanzado -->
                <div id="limite-uso-modal" class="modal">
                    <div class="modal-content">
                        <h2>¡Alerta!</h2>
                        <p>El dispositivo ha cumplido el número máximo de usos permitidos y debe desecharse.</p>
                        <button id="modal-limite-uso-ok-btn" class="submit-btn">OK</button>
                    </div>
                </div>

                <!-- Ventana emergente para el  de uso alcanzado -->
                <div id="Supero-uso-modal" class="modal">
                    <div class="modal-content">
                        <h2>¡Alerta!</h2>
                        <p>Ya superó el número de usos permitido, no puede continuar.</p>
                        <button id="modal-supero-uso-ok-btn" class="submit-btn">OK</button>
                    </div>
                </div>

            </form>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <!-- Script para hacer la solicitud AJAX -->
    <script>
        document.getElementById('identificacion_dm').addEventListener('blur', function() {
            var identificacion_dm = this.value;
            if (identificacion_dm) {
                fetch(`/buscar_dm?identificacion_dm=${identificacion_dm}`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById('lote').value = data.lote;
                        document.getElementById('nombre').value = data.nombre_dm;
                        document.getElementById('cantidad_piezas').value = data.cantidad_piezas;
                        document.getElementById('esterilizador').value = data.esterilizador;
                        document.getElementById('fecha_vencimiento').value = data.fecha_vencimiento;
                    } else {
                        alert('Dispositivo no encontrado.');
                        document.getElementById('lote').value = '';
                        document.getElementById('nombre').value = '';
                        document.getElementById('cantidad_piezas').value = '';
                        document.getElementById('esterilizador').value = '';
                        document.getElementById('fecha_vencimiento').value = '';
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });
    </script>


        <!-- Script para manejar la lógica de las ventanas emergentes -->
        <script>
        document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission

        fetch("{{ url_for('procesar_esterilizacion') }}", {
            method: 'POST',
            body: new FormData(this)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const mensaje = data.mensaje;
                const redirectUrl = data.redirect_url;  // URL for redirection if needed

                if (mensaje === "El dispositivo le falta un solo uso permitido.") {
                    // Show warning that only one use is left
                    document.getElementById('ultimo-uso-modal').style.display = 'block';
                    document.getElementById('modal-ultimo-uso-ok-btn').setAttribute('data-redirect-url', redirectUrl);
                } else if (mensaje === "El dispositivo ha cumplido el número máximo de usos permitidos y debe desecharse.") {
                    // Show alert that usage limit has been reached
                    document.getElementById('limite-uso-modal').style.display = 'block';
                    document.getElementById('modal-limite-uso-ok-btn').setAttribute('data-redirect-url', redirectUrl);
                } else {
                    // Show success modal for successful registration
                    document.getElementById('success-modal').style.display = 'block';
                    document.getElementById('modal-ok-btn').setAttribute('data-redirect-url', redirectUrl);
                }
            } else {
                // If the message is that the usage limit has been exceeded, show the "Supero-uso-modal"
                if (data.mensaje === "Ya superó el número de usos permitido, no puede continuar.") {
                    document.getElementById('Supero-uso-modal').style.display = 'block';
                } else {
                    alert('Error: ' + data.message);
                }
            }
        })
        .catch(error => console.error('Error:', error));
    });

    // Handle "OK" button clicks for each modal, including closing the exceeded usage modal without redirection
    document.getElementById('modal-ok-btn').addEventListener('click', function() {
        document.getElementById('success-modal').style.display = 'none';
        const redirectUrl = this.getAttribute('data-redirect-url');
        if (redirectUrl) {
            window.location.href = redirectUrl;
        }
    });

    document.getElementById('modal-ultimo-uso-ok-btn').addEventListener('click', function() {
        document.getElementById('ultimo-uso-modal').style.display = 'none';
        const redirectUrl = this.getAttribute('data-redirect-url');
        if (redirectUrl) {
            window.location.href = redirectUrl;
        }
    });

    document.getElementById('modal-limite-uso-ok-btn').addEventListener('click', function() {
        document.getElementById('limite-uso-modal').style.display = 'none';
        const redirectUrl = this.getAttribute('data-redirect-url');
        if (redirectUrl) {
            window.location.href = redirectUrl;
        }
    });

    // Handle "OK" button for the "Supero-uso-modal" to just close the modal without any redirection
    document.getElementById('modal-supero-uso-ok-btn').addEventListener('click', function() {
        document.getElementById('Supero-uso-modal').style.display = 'none';
        // Reset the form fields
        document.querySelector('.form-esterilizacion').reset();
    });

    </script>



    <script>
        $(document).ready(function() {
    // Manejar la respuesta del formulario de esterilización
    $('#esterilizacionForm').submit(function(event) {
        event.preventDefault();  // Prevenir el envío predeterminado del formulario

        $.ajax({
        url: '/procesar_esterilizacion',
        type: 'POST',
        data: $(this).serialize(),
        success: function(data) {
            if (data.success) {
            if (data.limite_alcanzado) {
                // Mostrar el modal si se alcanzó el límite
                $('#limiteAlcanzadoModal').modal('show');
            } else if (data.redirect_url) {
                // Redirigir si la URL está definida
                window.location.href = data.redirect_url;
            }
            } else {
            alert('Error: ' + data.message);
            }
        },
        error: function() {
            alert('Error en el servidor.');
        }
        });
    });
    });
    </script>

    <!-- FUNCION QR-->
    <!-- JavaScript to initialize the QR code scanner -->
<script>
    document.getElementById('scan-qr-btn').addEventListener('click', function() {
        console.log("QR Scan button clicked");

        const qrReader = document.getElementById('qr-reader');
        qrReader.style.display = 'block';  // Show the QR reader container
        console.log("QR reader container displayed");

        const html5QrcodeScanner = new Html5Qrcode("qr-reader");

        // Start QR code scanning
        html5QrcodeScanner.start(
            { facingMode: "environment" }, // Attempt to use the rear camera if available
            { fps: 10, qrbox: 250 },
            qrCodeMessage => {
                console.log("QR Code detected:", qrCodeMessage);

                // Populate the No. Identificación field with the QR code content
                document.getElementById('identificacion_dm').value = qrCodeMessage;
                // Stop the QR code scanner
                html5QrcodeScanner.stop();
                console.log("QR reader stopped");
                // Hide the QR reader container
                qrReader.style.display = 'none';

                // Trigger a 'blur' event to load additional fields if needed
                document.getElementById('identificacion_dm').dispatchEvent(new Event('blur'));
            },
            errorMessage => {
                console.warn(`QR error: ${errorMessage}`);
            }
        ).catch(err => {
            console.error(`Unable to start scanning: ${err}`);
        });
    });
</script>

    
</body>
</html>